@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400&family=Fredoka:wght@300;400;500&family=Montserrat:wght@300;400&display=swap');

body {
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: rgb(0, 23, 28);
  font-family: 'Montserrat', sans-serif;
}

/* ========= NAIGATION ========= */

#brand {
  font-family: 'Cormorant Upright', serif;
  font-weight: 500;
  color:aqua;
}

#navbar a {
  color:aqua;
}

/* ===== HOME PAGE======= */

.mindful-home {
  background-image: url('./assets/images/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg');
  width: 100%;
  overflow:hidden;
  position: absolute;
  margin:0 0!important;
  top: -10px;
  bottom: -10px;
  right: -10px;
  left: -10px;
  background-repeat: no-repeat;
  background-size:cover;
  z-index: -1;
  filter:blur(10px);
}

#home-form {
  position: absolute;
  top:50%;
  left: 50%;
  max-width: 275px;
  padding: 25px;
  background-color: white!important;
  opacity: 0.8;
  justify-content: center;
  border: 1px solid rgb(152, 152, 152);
  border-radius: 4px;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index:10;
}

/* .home-card {
  max-width: 24rem;
  background-color: rgb(255, 255, 255) !important;
  z-index: 9;
} */

/* ======== FOOTER ========= */ 

#footer {
  display: flex;
  margin-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 251, 255);
  color: white;
  text-align: center;
}

#footer-row {
  display: flex;
  color:white;
}